<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VS Code Online</title>
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
    <!-- <link rel="stylesheet" href="./font/iconfont.css"> -->
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1241290_wgr4ak3y0m.css">
    <link rel="stylesheet" href="./assets/index.css">
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/monaco-editor/0.17.0/min/vs/loader.js"></script>
</head>

<body>
    <div class="app" id="app">
        <div class="main">
            <div class="tools">
                <div class="top">
                    <ul>
                        <li><a title="代码" href="javascript:void(0)" class="iconfont icon-code active"></a></li>
                    </ul>
                </div>
                <div class="bottom">
                    <ul>
                        <li><a title="设置" href="javascript:void(0)" class="iconfont icon-setting"></a></li>
                    </ul>
                </div>
            </div>
            <div class="left" id="left">
                <div class="dir" ref="dir" :class="{'drag-file': dragFile}">
                    <h2>文件管理</h2>
                    <div class="path">
                        <a href="javascript:void(0);" @click="loadDir('/')">根目录/</a>
                        <a href="javascript:void(0);" v-for="item in pathList"
                            @click="loadDir(item.path)">{{item.title}}/ </a>
                    </div>
                    <div class="list">
                        <ul class="files">
                            <li class="sub-dir" v-for="(dir, index) in files.dirs">
                                <div class="title" @click="loadSubDir(dir)">
                                    <span class="iconfont icon-folder"></span>
                                    <span>{{dir}}</span>
                                </div>
                                <div class="action">
                                    <span class="iconfont icon-rename" title="重命名" @click="onRenameDir(dir)"></span>
                                    <span class="iconfont icon-delete" title="删除" @click="onDeleteDir(dir)"></span>
                                </div>
                            </li>
                            <li class="file" v-for="(file, index) in files.files">
                                <div class="title" @click="openFile(file)">
                                    <span class="iconfont icon-file"></span>
                                    <span>{{file}}</span>
                                </div>
                                <div class="action">
                                    <span class="iconfont icon-rename" title="重命名" @click="onRenameFile(file)"></span>
                                    <span class="iconfont icon-delete" title="删除" @click="onDeleteFile(file)"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="current-dir-action">
                        <span class="iconfont icon-add-file" title="添加文件" @click="onAddFile()"></span>
                        <span class="iconfont icon-add-folder" title="添加目录" @click="onAddDir()"></span>
                    </div>
                </div>
                <div class="split"></div>
                <div class="view-image" v-if="viewImage">
                    <h2>图片预览 <span class="iconfont icon-close" @click="viewImage = ''"></span></h2>
                    <div class="content">
                        <img :src="admin + '?act=getFile&path=' + viewImage" :alt="viewImage">
                    </div>
                </div>
                <div class="upload" v-if="currentUploadFile || uploadFileList.length">
                    <h2>正在上传的文件</h2>
                    <div class="content">
                        <ul>
                            <li class="current" v-if="currentUploadFile">
                                <div class="progress" :style="{width: currentUploadFile.uploadProgress + '%'}"></div>
                                <span class="name">{{currentUploadFile.name}}</span>
                                <span class="iconfont icon-close" @click="cancleCurrentUpload()"></span>
                            </li>
                            <li class="waiting" v-for="file in uploadFileList">
                                <span class="name">{{file.name}}</span>
                                <span class="iconfont icon-close" @click="removeUploadFile(file)"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right" id="right">
                <div class="tab">
                    <ul>
                        <li v-for="item in openFileList" @click="changeOpenFile(item)" @click.middle="closeFile(item)"
                            :class="{active: currentOpenFile && item.path == currentOpenFile.path, change: item.change}">
                            <span class="name">{{item.name}}</span>
                            <span class="iconfont icon-close" @click.stop="closeFile(item)"></span>
                        </li>
                    </ul>
                </div>
                <div class="editor">
                    <div id="editor">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>
    <template id="readme">
        这里是编辑器说明
    </template>
    <script src="./assets/index.js"></script>
</body>

</html>